:root{
    --black: #000000;
    --white: #ffffff;
    --whitesmoke:#f5f5f5;
    --blue: #0000ff;
    --lightgray:#d3d3d3;
    --greenyellow: #adff2f;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    
}

/* CSS Page animation Section : Begin */

main{
    animation: transitionIn 1ms;
}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }

    to{
        opacity: 1;
        transform: translateY(0px);

    }
}

/* CSS Page animation Section : End */

body{
    height: 100px;
    background-color: var(--whitesmoke);   
    display: block;
    
    
}


.transition-page{
    opacity: 1;
    transition: 100ms;
     /* transform: translateX(0);
    transform-origin: left;  */
}

html.is-animating .transition-page{
    opacity: 0;
    /* transform: translateX(100%); */
}   


html.is-rendering .transition-page{
    opacity: 1;
}

html.is-leaving .transition-page{
    opacity: 0;
} 
/* A{
    color: var(--white);    
    /* text-transform: lowercase; 
} */

.menu-display,
.my-footer{
    width: 100%;
}

/* .main-container,  */
/* .desktop-container,
.img-home-container,
.my-info-container {
    width: 60vw;
    
} */
/* ......................Start : Navigation for Desktop ...........................................*/

.mobile-display{
    display: none;
} 


.menu-display {
    display: block;
    width: 100%;    
    padding: .2rem 0;
    background-color: var(--black);   
}
    
.desktop-container {
    width: 60vw;
    display: flex;
    align-items: center;
    margin: auto;
    padding: .5rem 0;
    
}

.menu-container{
    display: flex;
    justify-content: end;   
    align-items: center;
    width: 100%;

}

.desktop-container a {
    text-decoration: none;
    list-style: none;
    color: var(--white);
}
.nav-item a{
    padding-left: 1.5rem;
}

.btn-item {
    border: 2px solid var(--white);
    width: 8rem;
    height: 6vh;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nav-logo a{
    font-size: 2rem;
    /* text-shadow: .08rem .08rem var(--greenyellow),
                 .10rem .10rem var(--greenyellow),
                 .12rem .12rem var(--greenyellow),
                 .13rem .13rem 2rem var(--white); */
}
.btn-item a{
    margin: 0;
    padding: 0;
}

li a:hover {
    color: var(--white);    
    transition: all 0.5ms ease-in;
    font-size: 1.4rem;
    text-decoration: underline;
}


/* End : Navigation for Desktop */

/* ============================================ footer ===============================================*/
.my-footer {
    display: block;
    margin-top: 2rem;

}

.footer-container {
    height: 11vh;
    width: 100%;
    background-color: var(--black);
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.footer-container p {
    margin-bottom: .7rem;
}


/* ============================== home page style for Desktop =========================================*/
.mobile-profile-container{
    display: none;
}

.main-container{
    display: flex;
    width: 100%;
    /* background: blue; */
    justify-content: center;
    align-items: center;
}

.main-container-layout{
    width: 60vw;
    /* background-color: red; */
    display: flex;
    margin: 1rem 0;
    
    
}

.desktop-profile-container{
    width: 40%;
    margin-right: 2rem;
    height: inherit;
    /* position: fixed; */
}

/* .desktop-aside-profile{
    position: fixed;
    bottom: 40%;
    top: 10%;
} */

.desktop-profile-container .img-container {
    width: inherit;
}

.img-container{
    height: 300px;
    padding-top: 8rem;
}

.desktop-profile-container .img-container .profile-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.profile-name div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.profile-contact{
    display: block;
    margin: 1rem 0;
}

.profile-contact i{
    color: #000000;
    text-transform: lowercase;
    margin: .5rem 0;
}

.profile-media i{
    margin-right: 1rem;
    color: var(--black);
    font-size: 1.3rem;
}

.desktop-profile-container{
    width: 40%;
}
.right-container{
    width: 60%;
    padding: 2rem 0;
    margin-top: 5rem;
    
    
}


.my-name, .my-ability{
    /* font-size: 1.6rem; */
    margin: 1rem 0;
    line-height: 2rem;
    
}
.my-name{
    font-size: 3rem;
}
.my-ability{
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1.9rem;
}

.my-ability, .my-name{
    margin-bottom: 1.9rem;
}
.right-container p{
    line-height: 2.5rem;
    /* width: 60%; */
}

.right-display{
    width: 60%;
}


.big-btn, .btn-submit{
    width: 20vw;
    /* min-width: 00px;  */
    max-width: 180px;
    background-color: transparent;
    height: 40px;
    margin-top: 2rem;
    border: 1px solid var(--black);
    font-size: 1rem;
    border-radius: 2rem;
    text-decoration: none;
    color: #000000;
}

.big-btn a{
    
    text-decoration: none;
    list-style: none;
    color: var(--black);
        
}

.right-container{
    width: 100%;
    /* background-color: #adff2f; */
}

.my-profile{
    width: 100%;
    /* background-color: #0000ff; */
}


/* ............................................start: contact page style ...................................*/

.form-container{
    width: 60%;
    display: block;
    /* background-color: #0000ff; */
}

form{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    /* padding-top: 8rem; */
    /* color: var(--black); */
        
}

.contact-text{
    padding-top: 0rem;
    width: 90%;
    margin: auto;
    line-height: 1.7rem;
}

.contact-text p{
    margin-bottom: 1rem;
}

form > *{
    max-width: 600px;
    
}

form input {
    margin-bottom: .8rem;
    /* background-color: aqua; */
}

form > textarea{
    height: 20rem;
    margin-bottom: 0rem;
    padding: .4rem;
}

form > input{
    height: 1.2rem;
    padding: .4rem;
    
}

/* .btn-submit{
    height: 3rem;
   
    font-size: 1rem;
    font-weight: bolder;
    background-color: transparent;
    cursor: pointer;    
    border: 2px solid var(--greenyellow);
} */
/* End: contact page style */

/* =================================== WORK PAGE ============================================================ */

.construction{
        font-size: 3rem;
        text-align: left;
        margin-top: 0 auto;
        
}




/* =======================================  About me ==========================================================*/
.right-display{
    /* background-color: #adff2f; */
    width: 85%;
}
.right-display p{
    margin-bottom: .5rem;
    text-justify: newspaper;
}

.right-display p::first-letter{
    font-size: 1.2rem;
}

/* ==================================Resume ========================================================== */
.resume{
    position: relative;
    top: 40vh;
    left: 40vw;
        
}

.resume button{
    height: 4rem;
    width: 12rem;
    border-radius: 2rem;
}

/* =========================================== Styling mobile ============================================= */

@media only screen and (max-width: 760px){
    p{
        font-size: 16px;
    }
    /* .main-container,  */
    form, 
    section,
    .my-info-container,
    .img-home-container,
    .menu-display,
    .mobile-display,
    .mobile-container
    {
        width: 92vw;
    }
    
    .menu-display{
        display:none; 
        
    }
    
    /* .nav-container{
        position: static;        
    } */

    /* Mobile navigation start here */
    .mobile-display{
        display: block;
        width: 100%;        
        /* background-color: aquamarine; */
        padding: .2rem 0;      
        
    }

    .mobile-container{
        /* width: 90vw; */
        display: flex;
        align-items: center;
        margin: auto;
        padding: .5rem 0;
        /* border-bottom: 1.5px solid white; */ 
    }

    .hamburger{
        cursor: pointer;
        display: flex;
        justify-content: end;
        width: 100%;
        font-size: 1.2rem;

    }

   
    .mobile-display a{
        text-decoration: none;
        color: var(--white);
        font-weight: bold;
    }
    .btn-item a{
        color: var(--black);
    }

    .mobile-links{
        position: static;
        display: none;
        /* width: 92vw; */
        width: inherit;
        margin: auto;
        /* width: 96vw; */
    }

    
    .nav-item{
        padding: 1.5rem 0;
        display: block;
        
    }   

    a{
        text-decoration: none;
        list-style: none;
        
    }

    .nav-logo a{
        font-size: 1.2rem;
    }
    

    /* Contact page */   

    section{
        display: flex;
        margin: auto;
    }
    
    form *{
        width: 95%;
        margin: auto;
    }
    .contact-header{
        height: 100vh;
        width: 84vw;
        /* color: var(--greenyellow); */
        padding: 1rem 0;
        display: block;
        
        
    }
    .text-container{
        /* background-color: aqua; */
        height: 35vh; 
        margin-bottom: 1.5rem;
           
    }
    .contact-header h1{
        font-size: 2rem;
        margin: 1rem 0;
    }
    .contact-header p{
        line-height: 2rem;
        font-size: 1.2rem;
        
    }


    .contact-header .img-container{        
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: inherit;
        /* background-color: bisque; */
        /* margin: 1.5rem 0;         */
    }

    figure{
        height: inherit;  
        min-height: 300px; 
        width: inherit;
        display: flex;        
        flex-direction: column;
        justify-content: center;
        align-items: center;       
    }

    figure p{
        margin: auto;       
    }

    /* img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        max-width:500px;      
        min-width: 200px;        
        border: .008rem solid var(--black);
        margin: auto;
        box-shadow: .09rem .09rem var(--black);
    }  */
    figcaption{
        margin-top: 1rem;
        display: flex;
        justify-content: center;
    }

    .btn-mobile {
        background-color: transparent;
        margin: auto;
        /* color: var(--black); */
        width: 60%;
        border-radius: .3rem;
        
        /* box-shadow: -.1rem .1rem .2rem rgb(253, 250, 250); */
    }
    /* .personal-contact{
        margin-top: 2rem;
    } */
    .personal-contact a{
        line-height: 2rem;
        margin-right: 3rem;
        
    }
    .personal-contact{
        margin-top: 1.8rem;
        margin-bottom: 2rem;
    }
    .personal-contact i{        
        /* color: var(--greenyellow);    */
        /* margin-right: 1rem; */
        font-size: 1rem; 
    }
    .email{
        display: flex;
        align-items: center;
    }
    /* Buttons design */
    .mobile-display .btn-item {
        background-color: var(--white);
        border-radius: 2rem;
        width: 92%;
        margin: auto;
        height: 1rem;
        display: flex;
        justify-content: center;
        align-items: center; 
        height: .6rem;   
            
    }
    .btn-item a{
        /* color: var(--black); */
        font-size: 1rem;
        font-weight: bolder;
        
    }





    /* ============================================= home page ====================================== */
    .desktop-profile-container{
        display: none;
    }
    .main-container-layout {
        width: 95vw;
        margin-top: .1rem;
        display: block;
    }
    .mobile-profile-container{
        display: block;        
        color: black;        
    }
    .img-container{
        width: inherit;
        height: 40vh;
        /* background-color: #adff2f; */
        margin-bottom: 1rem;
        padding-top: .1rem;
            
    }

    .mobile-email{
        display: flex;
        align-items: center;        
    }
    .mobile-email a{
        padding-left: .3rem;
    }

    .profile-name {
        /* color: var(--greenyellow); */
        margin-bottom: 1rem;
        
    }

    .profile-name div{
        display: flex;
        justify-content: center;
        margin-bottom: .3rem ;
    }
    
    .profile-image{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .profile-contact{
        display: flex;
        flex-direction: column;
        /* margin-bottom: 1rem; */
        color: var(--black);
        /* background-color: red;
        font-weight: normal; */
    }

    .profile-contact *{
        color: var(--black);
        text-transform: lowercase;
        margin-bottom: .5rem;
    }
    .profile-media *{
        margin-right: 1rem;
        color: rgb(1, 1, 80);
        margin-bottom: 0rem;
        
    }
    .profile-name p{
        font-size: 1.1rem;
    }
    .my-name{
        font-size: 2.4rem;
        line-height: 2.6rem;
    }
    .my-ability{
        font-size: 1.7rem;
    }

        .big-btn,
        .btn-submit {
            width: 20vw;
            /* min-width: 00px;  */
            max-width: 180px;
            background-color: transparent;
            height: 40px;
            margin-top: 2rem;
            border: 1px solid var(--black);
            font-size: 1rem;
            border-radius: 2rem;
            text-decoration: none;
            color: #000000;
        }
    .my-info-container p{
        line-height: 1.5rem;
        margin-top: 1rem;
    }
    .my-footer{
        display: block;
        margin-top: 2rem;
        
    }
    .footer-container{
        height: 11vh;
        width: 100%;
        background-color: var(--black);
        color: white;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer-container p{
        margin-bottom: .7rem;
    }
    .big-btn a{
        color: var(--black);
        font-weight: bolder;
    }
    .big-btn{
        margin-top: 2rem;
    }
    .big-btn{
        width: 20vw;
    }
    .btn-item,
    .btn-mobile{
        width: 100%;
    }

}
/* end of media query */


/* .nav-container li a{
    background-color: #0000ff;
} */