:root{
    --black: #000000;
    --white: #ffffff;
    --blue: #0000ff;
    --lightgray:#d3d3d3;
    --greenyellow: #adff2f;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    font-size: 1.1rem;
    
}

body{
    height: 100px;
    background-color: black;   
    display: block;
}

.main-container, 
.desktop-container,
.img-home-container,
.my-info-container {
    width: 70vw;
    
}
/* Start : Navigation for Desktop */

.mobile-display{
    display: none;
} 


.menu-display {
    display: block;
    width: 100%;    
    padding: .2rem 0;
    
}
    
.desktop-container {
    width: 70vw;
    display: flex;
    align-items: center;
    margin: auto;
    padding: .5rem 0;
    
}

.menu-container{
    display: flex;
    justify-content: end;   
    align-items: center;
    width: 100%;
}

a {
    text-decoration: none;
    list-style: none;
    color: var(--greenyellow);
}
.nav-item a{
    padding-left: 1.5rem;
}

.btn-item {
    border: 2px solid var(--greenyellow);
    width: 8rem;
    height: 6vh;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nav-logo a{
    font-size: 2rem;
    text-shadow: .08rem .08rem var(--greenyellow),
                 .10rem .10rem var(--greenyellow),
                 .12rem .12rem var(--greenyellow),
                 .13rem .13rem 2rem var(--white);
}
.btn-item a{
    margin: 0;
    padding: 0;
}

li a:hover {
    color: var(--white);
    transition: all 0.5ms ease-in;
    font-size: 1.4rem;
    text-decoration: underline;
}


/* End : Navigation for Desktop */

/* home page style */
.main-container{    
    display: flex;
    justify-content: start;
    margin: auto;
    /* background-color: hsl(84, 74%, 44%); */
    height: 100%;
}

.img-home-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-info-container{
    padding-top: 4rem;
    color: var(--greenyellow);
    line-height: 2rem;
    font-size: 1.1rem;
    letter-spacing: .2rem;
}

.my-name, .my-ability{
    font-size: 2rem;
    line-height: 4rem;
    
}

.my-name{
    font-size: 3.5rem;
    
}

.my-profile{
    margin-top: 1.2rem;
    line-height: 2.5rem;
}

.my-greeting{
margin-bottom: 1.2rem;
}

.big-btn{
    width: 20vw;
    min-width: 9vw;
    background-color: transparent;
    height: 8vh;
    margin-top: 1.3rem;
    border: 1px solid var(--greenyellow);
    font-size: 1.3rem;
}


/* contact page style */
form{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    color: var(--greenyellow);
        
}

form > *{
    max-width: 600px;
    
}
form > textarea{
    height: 20rem;
    margin-bottom: 1.4rem;
    padding: .4rem;
}

form > input{
    height: 1.7rem;
    padding: .4rem;
    
}

.btn-submit{
    height: 3rem;
    color: var(--greenyellow);
    font-size: 1.3rem;
    font-weight: bolder;
    background-color: transparent;
    cursor: pointer;    
    border: 2px solid var(--greenyellow);
}

@media only screen and (max-width: 760px){
    
    .main-container, form, section{
        width: 84vw;
    }
    
    .menu-display{
        display:none; 
        
    }
    
    /* .nav-container{
        position: static;        
    } */

    /* Mobile navigation start here */
    .mobile-display{
        display: block;
        width: 100%;        
        /* background-color: aquamarine; */
        padding: .2rem 0;       
        
    }

    .mobile-container{
        width: 84vw;
        display: flex;
        align-items: center;
        margin: auto;
        padding: .5rem 0;
        /* border-bottom: 1.5px solid white; */ 
    }

    .hamburger{
        cursor: pointer;
        display: flex;
        justify-content: end;
        width: 100%;
        font-size: 1.5rem;
    }
    a{
        color: var(--greenyellow);
    }
    .nav-logo{
        font-size: 1.5rem;
    }
    .mobile-links{
        position: static;
        display: none;
        width: 84vw;
        margin: auto;
    }

    
    .nav-item{
        padding: 1.5rem 0;
        display: block;
        
    }   

    a{
        text-decoration: none;
        list-style: none;
        
    }


    

    /* Contact page */   

    section{
        display: flex;
        margin: auto;
    }
    
    form *{
        width: 95%;
        margin: auto;
    }
    .contact-header{
        height: 100vh;
        width: 84vw;
        color: var(--greenyellow);
        padding: 1rem 0;
        display: block;
        
        
    }
    .text-container{
        /* background-color: aqua; */
        height: 35vh; 
        margin-bottom: 1.5rem;
           
    }
    .contact-header h1{
        font-size: 2rem;
        margin: 1rem 0;
    }
    .contact-header p{
        line-height: 2rem;
        font-size: 1.2rem;
        
    }


    .img-container{        
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: inherit;
        /* background-color: bisque; */
        /* margin: 1.5rem 0;         */
    }

    figure{
        height: inherit;   
        width: inherit;
        display: flex;        
        flex-direction: column;
        justify-content: center;
        align-items: center;       
    }

    figure p{
        margin: auto;       
    }

    img{       
        max-width:100%;
        max-height:100%;
        object-fit: contain;
        border-radius: 2%;
        min-width: 200px;
        border: .008rem solid var(--greenyellow);
        margin: auto;
        box-shadow: .09rem .09rem var(--greenyellow);
    }
    figcaption{
        margin-top: 1rem;
        display: flex;
        justify-content: center;
    }

    .btn-mobile {
        background-color: var(--greenyellow);
        margin: auto;
        color: var(--black);
        width: 60%;
        border-radius: .3rem;
        
        /* box-shadow: -.1rem .1rem .2rem rgb(253, 250, 250); */
    }
    /* .personal-contact{
        margin-top: 2rem;
    } */
    .personal-contact a{
        line-height: 2rem;
        margin-right: 3rem;
        
    }
    .personal-contact{
        margin-top: 1.8rem;
        margin-bottom: 2rem;
    }
    .personal-contact i{        
        color: var(--greenyellow);   
        /* margin-right: 1rem; */
        font-size: 1rem; 
    }

    /* Buttons design */
    .btn-item {
        background-color: var(--greenyellow);
        border-radius: .5rem;
        display: flex;
        justify-content: center;
        align-items: center; 
        height: .7rem;       
    }
    .btn-item a{
        color: var(--black);
        font-size: 1.5rem;
        font-weight: bolder;
    }

    /* home page */

    .my-name{
        font-size: 1.5rem;
    }

    .my-ability{
        font-size: 1.2rem;
    }

    .my-greeting, .my-profile{
        font-size: 1.1rem;
        line-height: 2rem;
        letter-spacing: 0.1rem;
        margin-bottom: 1.5rem;
    }
    .big-btn a{
        color: var(--black);
        font-weight: bolder;
    }

}
/* end of media query */